@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Urbanist', sans-serif;
    overflow: hidden;
}

body {
    background-color: #6174BB;
    height: 100vh;
    width: 100%;
}

header {
    width: 80%;
    height: 12vh;
    border-bottom: 5px solid #D9D9D9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #DFDFDF;
    cursor: pointer;
    width: fit-content;
}

.div-header {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;

    font-weight: 300;
    font-size: 6vh;
    color: #D9D9D9;
}

.div-header img {
    width: 13vh;
}

.txt-header {
    font-size: 4vh;
    font-weight: 300;
}

.div-dash {
    width: 300vh;
    height: 80%;
    display: flex;
    flex-direction: row;

}

/* alertas */

.div-alertas {
    width: 17%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.div-alertas2 {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: space-between;

    flex-direction: column;

}

.alertas {
    width: 95%;
    height: 80%;
    background-color: #D9D9D9;
    border-radius: 20px;
    border: 5px solid white;
    opacity: 80%;
}

.div-alertas2 button {
    height: 15%;
    border-radius: 15px;
    width: 98%;
    background-color: #4F64B0;
    border: 5px solid white;
    color: white;
}

/* graficos e kpis */
.div-conteudo {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    background-color: #6174BB;


}

.div-kpis {
    margin-top: 0vh;
    width: 65%;
    height: 40%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.kpis {
    width: 38vh;
    height: 80%;
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;

}

.sessao-title-kpi {
    width: 100%;
    height: 9vh;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sessao-subtitle-kpi {
    width: 100%;
    height: 3vh;
    text-align: center;
    font-weight: 500;
}

.div-num-serie {
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.num-serie {
    color: #4F64B0;
    font-weight: 600;
}

.div-linha-kpi {
    width: 100%;
    display: flex;
    justify-content: center;

}

.linha-kpi {
    border-bottom: 4px solid #4F64B0;
    width: 35%;
}

.rotulo-kpi {
    width: 60%;
    height: 80%;
    text-align: center;
    color: black;
}

.rotulo-kpi2 {
    width: 100%;
    height: 10vh;
    text-align: center;
    display: flex;
    align-items: center;
}

.janelas {
    font-size: 5vh;
    color: #4F64B0;
    font-weight: 700;
}

.rotulo-kpi3 {
    text-align: center;
}

#myChartCanvasGeral {
    display: flex;
    flex-direction: column;
}

.div-grafico {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.div-legenda {
    width: 30%;
    height: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 1vh;
}

.legenda {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.legenda-total {
    width: 25%;
    height: 30%;
}

.div-grafico1 {
    width: 45%;
    height: 100%;

}

.cor-grafico {
    width: 2vh;
    height: 2vh;
    background-color: black;
    border-radius: 50%;
}

.legenda p {
    margin-left: 1vh;
    font-size: 9px;
    font-weight: 800;
}

.cor-grafico1 {
    background-color: #4F64B0;

}

.cor-grafico2 {
    background-color: #091338;

}

.sessao-title-kpi4 {
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: flex-end;
}

.rotulo-kpi4 {
    width: 17vh;
}

.div-conteudo-kpi4 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.componentes-kpi {
    width: 60%;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.cor-graficocomp {
    width: 4vh;
    height: 4vh;
}

.cor1 {
    background-color: #FF3C3C;
}

.cor2 {
    background-color: #E0CB11;
}

.cor3 {
    background-color: #DFDFDF;
}

.div-graficos {
    width: 64.2%;
    height: 55.1%;
    display: flex;
    justify-content: space-evenly;

}

/* Graficos de baixo */
.div-grafico-linha {
    width: 60%;
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div-grafico-linha h2 {
    font-weight: 500;
    color: #4F64B0;
    font-size: 20px;
}

.div-grafico-pizza {
    background-color: #FFFFFF;
    width: 33%;
    height: 100%;
    border-radius: 15px;
}

.grafico-linha {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
}

.legenda-grafico3 {
    height: 20%;
}

.legenda-grafico3 p {
    font-size: 12px;
}

.div-grafico3 {
    width: 70%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-legenda3 {
    width: 35%;
    margin-left: 1vh;
}

.rotulo-grafico3 {
    color: #4F64B0;
}

.legenda-total3 {
    height: 40%;
    width: 30%;
}

/* Alertas */
.div-title-alertas {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    text-align: center;
}

.div-title-alertas h2 {
    color: #5A4F4F;
    font-weight: 500;
}

.div-notificao {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.div-notificao::-webkit-scrollbar {
    width: 8px;
}

.div-notificao::-webkit-scrollbar-track {
    border-radius: 20px;
    background: #bbbbbb;
}

.div-notificao::-webkit-scrollbar-thumb {
    background-color: #646464;
    border-radius: 20px;
    border: 3px solid #bbbbbb;
}

.div-caixa-mensagem {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixa-mensagem {
    width: 90%;
    height: 80%;
    border-radius: 10px;
    color: white;
    text-align: center;
    box-shadow: #5A4F4F 1px 1px 3px 1px;
}

.perigo {
    background-color: #FF3C3C;
}

.cuidado {
    background-color: #E0CB11;
}