@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Urbanist', sans-serif;
    background-color: #E3E3E3;
}
section{
    height: 98vh;
    overflow: hidden;
}


/* HEADER */
.header{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 15vh;
    align-items: center;
}
.div-logo{
    width: 30vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.div-img-logo{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-header{
    width: 25vh;
    height: 100%;
}
.txt-logo{
    margin-top: -1vh;
    padding: 0;
    color: black;
    font-size: 3vh;
}
.nav{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
} 
.lista-nav{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.lista-nav li{
    list-style: none;
    font-size: 20px;
    cursor: pointer;

}
.lista-nav li a{
    color: #4F64B0;
    font-weight: bold;
    text-decoration: none;
}


.div-toca{
    height: 100%;
    width: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-toca img{
    width: 60%;
    height: 60%;
    cursor: pointer;
}
/* FIM HEADER */

/* CONTEÚDO HOME */
.conteudo-home{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}



.div-left-home{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.div-title-home{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #4F64B0;
    text-align: center;
    margin-top: 10vh;

}
.div-title-home .title-home{
    color: #4F64B0;
    font-size: 10vh;
    font-weight: 300;
    margin: 0;
}

.div-title-home .slogan-home{
    padding-top: 5vh;
    width: 60vh;
    border-top: #4F64B0 2px solid;
}


.div-conteudo-home{
    height: 10%;
    text-align: center;
}

.div-conteudo-home p{
    font-size: 20px;
    color: #525252;
}
.div-button-home{
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-home{
    height: 10vh;
    width: 30vh;
    cursor: pointer;
    color: #ffffff;
    background-color: #4F64B0;
    border: 2px solid #ffffff;
    border-radius: 10px;
}
.div-right-home{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.div-right-home img{
    width: 100vh;
    height: 70vh;
}


/* FIM CONTEÚDO HOME */



/* CARDS COM FLIP */
.div-cards-valores{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.container-cards{
    width: 90%;
    height: 80%;
    display: flex;  
    align-items: center;
    justify-content: space-around;
}

.card-valores{
    width: 50vh;
    height: 90%;
    background-color: #4F64B0;
    border-radius: 10px;
    position: relative;
    /* box-shadow: 0 -80px 100px -15px inset black; */
    transform-style: preserve-3d;
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
}
.conteudo-card-valores-frente,.conteudo-card-valores-verso{
    position: absolute;
    backface-visibility: hidden;
}

.card-valores:hover{
    transform: rotateY(180deg);
}
/* CARD VERSO */
.div-img-card{

    width: 100%;
    height: 3vh;
    display: flex;
    justify-content: center;
}

.div-img-card img{
    width: 15vh;
    height: 15vh;
    margin-top: -7vh;
}
.conteudo-card-valores-verso{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotateY(180deg);
    padding: 5px;
    
}
.div-txt-card-valores{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 

}
.div-txt-card-valores p{
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 10vh;
}

.card3-valores{
    justify-content: center;
    align-items: center;
}
/* FIM VERSO CARD */

/* CARD FRENTE */
.conteudo-card-valores-frente{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.conteudo-card-valores-frente img{
    width: 30vh;
    height: 30vh;
}
.conteudo-card-valores-frente p{
    color: #ffffff;
}
/* FIM CARD FRENTE */
/* FIM CARDS COM FLIP */


.caixote {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.caixoteCima {
    width: 20%;
    border-bottom: 1.2px solid;
    text-align: center;
    height: fit-content;
    margin-top: 20px;
    margin-bottom: 20px;

    color: #4F64B0;
    font-weight: 300;
    font-size: 22px;;
}
.caixoteTitulo p{
    font-weight: bold;
}

.conteudoNos {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.ladoNos {
    width: 40%;
    flex-direction: column;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.textoNos {
    width: 60%;
    word-wrap: normal;
}

.t1Nos {
    padding-top: 30px;
}

.t2Nos {
    text-align: end;
}

#membros {
    margin-bottom: 200px;
}

.conteudoMembros {
    padding-bottom: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
}

.quadradoMembro {
    width: 75%;
    display: flex;
    align-items: center ;
    justify-content: space-between;
    padding-top: 40px;
}

.cardMembro  {
    height: 150px;
    width: 150px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.imagemMembro {
    height: 130px;
    width: 130px;
    border-radius: 200px;
    border: 2px solid rgba(79, 100, 176, 0.88);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.nomeMembro {
    width: 100%;
    text-align: center;
}

.guilima {
    background-image: url(../assets/guilima.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.kevin {
    background-image: url(../assets/kevin.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.matheus {
    background-image: url(../assets/matheus.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.poliana {
    background-image: url(../assets/poliana.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.samuel {
    background-image: url(../assets/samuel.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.sthefanny {
    background-image: url(../assets/sthefanny.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* SERVIÇOS */


.servico {
    background: #4F64B0;
    color: #E3E3E3 !important;
    padding-bottom: 50px;
}

#servico {
    color: #E3E3E3;
}

.conteudoServicos {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 35px;
}

.tituloServico {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    word-wrap: break-word;
}

.tituloServico p {
    width: 60%;
}

.baixoServico {
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.quadradoServico {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.elementoServico {
    display: flex;
    gap: 35px;
}

.imgServico {
    height: 100px;
    width: 100px;
}

.servico1 {
    background-image: url(../assets/servico1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.servico2 {
    background-image: url(../assets/servico2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.servico3 {
    background-image: url(../assets/servico3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.servico4 {
    background-image: url(../assets/servico4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.servico5 {
    background-image: url(../assets/servico5.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.servico6 {
    background-image: url(../assets/servico6.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.descricaoServico {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 80px;
    width: 100%;
    text-align: center;
}

/* FIM SERVIÇOS */
/* COMEÇO RODAPÉ */

.rodape {
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.blocoRodape {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.esquerdoRodape {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;
}

.duvidasRodape {
    justify-content: space-around;
    align-items: center;
    font-size: 10px;
}

.socialMediaRodape {
    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: space-evenly;
}

.socialMediaRodape p {
    width: 100%;
    text-align: center;
}
.div-rodape-mancha{
    background-color: #4F64B0;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.img-mancha-rodape{
    margin-top: -15vh;
    width: 100vh;
    height: 20vh;
}





/* Tela mobile */
.tela-mobile{
    display: none;
}
@media screen and (max-width: 980px) {
    @media screen and (max-width: 980px) {
        /* MATANDO A TELA DE PC */
        .tela{
            display: none;
        }
        .tela-mobile{
            display: block;
        }

        *{
            margin: 0;
            padding: 0;
            font-family: 'Urbanist', sans-serif;
        }
        .body{
            overflow-x: hidden;
            background-color: #E3E3E3;
        }
        .header-mobile{
            width: 100%;
            height: 15vh;
            display: flex;
            justify-content: space-around;
        }
        .div-header-mobile{
            width: 27%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: start;
        }
        .div-header-mobile-ponta{
            display: flex;
            justify-content: flex-end;
            text-align: start;
        }
        .div-header-mobile p{
            color: #4F64B0;
            font-size: 3vh;
        }
        .menu-hamburger{
            width: 4vh;
        }
        /* FIM HEADER */
        .fundo-txt-home-mobile{
            width: 100%;
            height: fit-content;
            display: flex;
            justify-content: center;
        }
        .div-txt-home-mobile{
            height: 15vh;
            width: 60%;
            display: flex;
            flex-direction: column;
            justify-content:flex-end;
            text-align: center;
            border-bottom: 4px solid #4F64B0;
        }
        .div-txt-home-mobile p{
            color: #4F64B0;
            font-size: 6vh;
            margin-bottom: 1vh;
        }
        .div-slogan-mobile{
            width: 100%;
            height: 9vh;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        .div-slogan-mobile p{
            color: #4F64B0;
            font-size: 40px;
        }
        .fundo-div-convite-mobile{
            width: 100%;
            height: fit-content;
            display: flex;
            justify-content: center;
        }
        .div-convite-mobile{
            width: 50%;
            height: 18vh;
            display: flex;
            justify-content: center;
            align-items: center;
            word-wrap: break-word;
            font-size: 50px;
            text-align: center;
            color: black;
            font-weight: 200;
        }
        .div-img-home-mobile{
            width: 100%;
            height: 25vh;
            display: flex;
            justify-content: center;
        }
        .div-img-home-mobile img{
            width: 37vh;
        }
        .div-btn-descubra-mobile{
            width: 100%;
            height: 18vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .button-home-mobile{
            height: 40%;
            width: 40%;
            cursor: pointer;
            color: #ffffff;
            background-color: #4F64B0;
            border: 4px solid #ffffff;
            border-radius: 30px;
            font-weight: 100;
            font-size: 40px;
        }
        
    }
}