@import url('https://fonts.googleapis.com/css2? family= Urbanist:wght@300;400;500 & display=swap');

*{
    box-sizing: border-box;
    font-family:'Urbanist', sans-serif;
}

body {
    background-color: #8092D3;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

#nome{
    margin-bottom: 4%;
    width: 20%;

}

#insira{
    width: 50%;
    height: 150px;
    
    
}

#linha{
    top: 10px;
    width: 100%;

}

#superior {
    display: flex;
    padding: 50px;
    width: 100%;
    height: 200px;
}


#blocos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

#divimagem img {
    width: 100px;
    margin-bottom: 5px;
    

}

#blocoinput {
    background-color: #D9D9D9;
    width: 60%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 600px;
    box-shadow: 1px 4px 2px rgb(92, 90, 90);
    margin-top: 1%;
    right:50px;

}

#inpt1 {
    display: flex;
    width: 100%;
    justify-content: space-evenly;

}

#inpt2{
    display: flex;
    width: 76%;
    justify-content: space-evenly;
    left: 100px;
}
#modelo1{
    
    width: 30%;
    
}

#OU{
    width: 10%;
    justify-content: end;
    display: flex;

}

#associada{
    align-items: flex-start;
    width: 22%;
    
}

#numeroSerie{
    
}

#Modelo{
    
}


 #inpt2 input,  #inpt2 select {
    margin: 0;
    padding: 10px;
    border-radius: 20px;
    border: none;
    width: 120%;
    font-size: 16px;
    flex-direction: column;
    box-shadow: 1px 4px 2px rgb(92, 90, 90);
    

    
}

#inpt1 select,#inpt1 input{
    margin: 0;
    padding: 10px;
    border-radius: 20px;
    border: none;
    width: 120%;
    font-size: 16px;
    flex-direction: column;
    box-shadow: 1px 4px 2px rgb(92, 90, 90);

}

#blocochao {
   width :60%; 
   height :60px; 
   justify-content :space-between; 
   display :flex; 
   align-items: center;
}

button {
   margin :10px; 
   padding :10px 20px; 
   border-radius :20px; 
   background-color :#4F64B0; 
   color:#fff6f6;
   font-size: larger;
   width: 100%;
   height: 45px;
   border-color: aliceblue;
   box-shadow: 1px 4px 2px rgb(92, 90, 90);
}


.setinha{
    width: 5%;
    align-items: end;
    
}
